.gameScreen {
    padding: 20px;
}

.screenH2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.addButton {
    margin-bottom: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #0070f3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.addButton:hover {
    background-color: #005bb5;
}

.gameList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    /* Aligns cards to the left */
}

.gameCard {
    width: 100%;
    /* Adjust based on your design */
    max-width: 300px;
    flex-grow: 1;
}